.directMessagesVoiceMessageChild {
    position: absolute;
    top: 678px;
    left: 1055px;
    filter: blur(500px);
    border-radius: 50%;
    background-color: #514dfb;
    width: 1420px;
    height: 1310px;
    opacity: 0.35;
}
.directMessagesVoiceMessageItem {
    position: absolute;
    top: -922px;
    left: -475px;
    filter: blur(500px);
    border-radius: 50%;
    background-color: #514dfb;
    width: 1420px;
    height: 1310px;
    opacity: 0.35;
}
.rigoogleFill {
    position: absolute;
    top: 735px;
    left: 983px;
    width: 19.8px;
    height: 19.8px;
    overflow: hidden;
}
.directMessagesVoiceMessageInner {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(58.2px);
    background-color: rgba(255, 255, 255, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-sizing: border-box;
    width: 1920px;
    height: 1080px;
    display: none;
}
.searchChild {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(44px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 340px;
    height: 48px;
}
.search2 {
    position: absolute;
    top: 16px;
    left: 45px;
}
.vuesaxoutlinesearchNormalIcon {
    position: absolute;
    top: 14px;
    left: 15px;
    width: 20px;
    height: 20px;
}
.search1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 340px;
    height: 48px;
}
.search {
    position: absolute;
    top: 21px;
    left: 1310px;
    width: 340px;
    height: 48px;
}
.mexstuffWidstut {
    position: absolute;
    top: 35px;
    left: 330px;
    font-size: 28px;
    line-height: 38px;
}
.gabrielleIrene {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 28px;
    text-transform: capitalize;
}
.mFollowers {
    position: absolute;
    top: 23px;
    left: 8px;
    font-size: 16px;
}
.gabrielleIreneParent {
    position: absolute;
    top: 9px;
    left: 0px;
    width: 120px;
    height: 34px;
}
.profileIcon {
    position: absolute;
    top: 0px;
    left: 130px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.arrowDownIcon {
    position: absolute;
    top: 15px;
    left: 190px;
    width: 20px;
    height: 20px;
}
.profile {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 210px;
    height: 50px;
}
.profileWrapper {
    position: absolute;
    top: 20px;
    left: 1680px;
    width: 210px;
    height: 50px;
    text-align: right;
    font-size: 18px;
}
.sideBarChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.homeChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
}
.dashboard {
    position: absolute;
    top: 36.96%;
    left: 17.31%;
    font-weight: 600;
}
.icroundDashboardIcon {
    position: absolute;
    height: 52.17%;
    width: 9.23%;
    top: 23.91%;
    right: 86.54%;
    bottom: 23.91%;
    left: 4.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.home {
    position: absolute;
    height: 5.17%;
    width: 100%;
    top: 13.05%;
    right: 0%;
    bottom: 81.78%;
    left: 0%;
}
.home1 {
    position: absolute;
    height: 5.17%;
    width: 100%;
    top: 27.9%;
    right: 0%;
    bottom: 66.93%;
    left: 0%;
}
.frameIcon {
    position: absolute;
    height: 2.25%;
    width: 7.69%;
    top: 29.36%;
    right: 5%;
    bottom: 68.39%;
    left: 87.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.home2 {
    position: absolute;
    height: 5.17%;
    width: 100%;
    top: 5.62%;
    right: 0%;
    bottom: 89.2%;
    left: 0%;
}
.rectangleDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #504dfb;
}
.home4 {
    position: absolute;
    height: 5.17%;
    width: 100%;
    top: 35.32%;
    right: 0%;
    bottom: 59.51%;
    left: 0%;
}
.home5 {
    position: absolute;
    height: 5.17%;
    width: 100%;
    top: 42.74%;
    right: 0%;
    bottom: 52.08%;
    left: 0%;
}
.home6 {
    position: absolute;
    height: 5.17%;
    width: 100%;
    top: 50.17%;
    right: 0%;
    bottom: 44.66%;
    left: 0%;
}
.home7 {
    position: absolute;
    height: 5.17%;
    width: 100%;
    top: 57.59%;
    right: 0%;
    bottom: 37.23%;
    left: 0%;
}
.logoutIcon {
    position: absolute;
    height: 52.17%;
    width: 9.23%;
    top: 23.91%;
    right: 86.54%;
    bottom: 23.91%;
    left: 4.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.home8 {
    position: absolute;
    height: 5.17%;
    width: 100%;
    top: 94.83%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.home9 {
    position: absolute;
    height: 5.17%;
    width: 100%;
    top: 20.47%;
    right: 0%;
    bottom: 74.35%;
    left: 0%;
}
.creator1 {
    position: absolute;
    top: 0%;
    left: 0%;
    font-weight: 600;
}
.dashboard1 {
    position: absolute;
    height: 50%;
    width: 60.76%;
    top: 25%;
    right: -0.05%;
    bottom: 25%;
    left: 39.29%;
}
.frameIcon1 {
    position: absolute;
    height: 100%;
    width: 23.9%;
    top: 0%;
    right: 76.1%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.dashboardParent {
    position: absolute;
    height: 92.31%;
    width: 39.68%;
    top: 3.85%;
    right: 60.32%;
    bottom: 3.85%;
    left: 0%;
}
.dayNightModeMobileChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 2429px;
    background-color: #949494;
}
.dayNightModeMobileItem {
    position: absolute;
    height: 69.23%;
    width: 36%;
    top: 15.38%;
    right: 56%;
    bottom: 15.38%;
    left: 8%;
    border-radius: 50%;
    background-color: #fff;
}
.group {
    position: relative;
    width: 0px;
    height: 0px;
}
.frame {
    position: absolute;
    height: 46.15%;
    width: 24%;
    top: 26.92%;
    right: 14%;
    bottom: 26.92%;
    left: 62%;
    overflow: hidden;
}
.dayNightModeMobile {
    position: absolute;
    height: 100%;
    width: 19.76%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 80.24%;
}
.creator {
    position: absolute;
    height: 2.92%;
    width: 97.31%;
    top: 0%;
    right: 1.54%;
    bottom: 97.08%;
    left: 1.15%;
}
.joinAsCreator {
    position: absolute;
    top: 36%;
    left: 23.46%;
    font-weight: 600;
}
.post {
    position: absolute;
    height: 5.62%;
    width: 100%;
    top: 66.14%;
    right: 0%;
    bottom: 28.23%;
    left: 0%;
    font-size: 20px;
}
.tab {
    position: absolute;
    height: 84.27%;
    width: 100%;
    top: 15.73%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.contentChild {
    position: absolute;
    height: 0.09%;
    width: 100%;
    top: 6.16%;
    right: 0%;
    bottom: 93.74%;
    left: 0%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}
.donatuzLogoWhite1 {
    position: absolute;
    height: 3.79%;
    width: 59.69%;
    top: 0%;
    right: 20.31%;
    bottom: 96.21%;
    left: 20%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.addWalletChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    backdrop-filter: blur(44px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}
.rightArrowIcon {
    position: absolute;
    height: 40%;
    width: 7.69%;
    top: 30%;
    right: 1.92%;
    bottom: 30%;
    left: 90.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.plusIcon {
    position: absolute;
    height: 80%;
    width: 15.38%;
    top: 10%;
    right: 82.69%;
    bottom: 10%;
    left: 1.92%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.div {
    position: absolute;
    top: 50%;
    left: 0%;
}
.mainWallet {
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 14px;
}
.text {
    position: absolute;
    height: 76%;
    width: 27.31%;
    top: 14%;
    right: 51.54%;
    bottom: 10%;
    left: 21.15%;
}
.addWallet {
    position: absolute;
    height: 4.74%;
    width: 100%;
    top: 8.15%;
    right: 0%;
    bottom: 87.11%;
    left: 0%;
    font-size: 16px;
}
.content {
    position: absolute;
    height: 87.19%;
    width: 86.67%;
    top: 2.07%;
    right: 6.67%;
    bottom: 10.74%;
    left: 6.67%;
}
.sideBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 1210px;
    font-size: 18px;
}
.directMessagesVoiceMessageChild1 {
    position: absolute;
    top: 90px;
    left: 330px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    width: 1560px;
    height: 1px;
}
.profileChild {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(44px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 450px;
    height: 978px;
}
.profileIcon1 {
    position: absolute;
    top: 83px;
    left: 175px;
    width: 100px;
    height: 100px;
}
.aneesh {
    position: absolute;
    top: calc(50% - 6.5px);
    left: calc(50% - 34.5px);
}
.aneeshWrapper {
    position: absolute;
    top: calc(50% - 6.5px);
    left: calc(50% - 34.5px);
    width: 69px;
    height: 13px;
}
.profileInner {
    position: absolute;
    top: calc(50% - 276px);
    left: calc(50% - 35px);
    width: 69px;
    height: 13px;
}
.btnChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #504dfb;
    width: 150px;
    height: 50px;
}
.messageIcon {
    position: absolute;
    height: 100%;
    width: 19.63%;
    top: 0%;
    right: 80.37%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.message1 {
    position: absolute;
    top: 3px;
    left: calc(50% - 27.5px);
}
.message {
    position: absolute;
    height: 39.2%;
    width: 71.33%;
    top: 30%;
    right: 14.67%;
    bottom: 30.8%;
    left: 14%;
}
.btn {
    position: absolute;
    top: 246px;
    left: 150px;
    width: 150px;
    height: 50px;
}
.profileItem {
    position: absolute;
    top: 346px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 450px;
    height: 3px;
}
.profileChild1 {
    position: absolute;
    top: 541px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 450px;
    height: 3px;
}
.media {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 199px);
}
.vuesaxoutlinearrowDownIcon {
    position: absolute;
    top: 0px;
    left: 64px;
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.image {
    position: absolute;
    top: 4px;
    left: 0px;
}
.vuesaxoutlinearrowDownParent {
    position: absolute;
    top: 0px;
    left: 314px;
    width: 84px;
    height: 20px;
    text-align: right;
    font-size: 16px;
}
.text1 {
    position: absolute;
    top: calc(50% - 66px);
    left: calc(50% - 199px);
    width: 398px;
    height: 20px;
}
.imageChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    width: 92px;
    height: 92px;
    object-fit: cover;
}
.imageItem {
    position: absolute;
    top: 0px;
    left: 102px;
    border-radius: 10px;
    width: 92px;
    height: 92px;
    object-fit: cover;
}
.imageInner {
    position: absolute;
    top: 0px;
    left: 204px;
    border-radius: 10px;
    width: 92px;
    height: 92px;
    object-fit: cover;
}
.rectangleIcon {
    position: absolute;
    top: 0px;
    left: 306px;
    border-radius: 10px;
    width: 92px;
    height: 92px;
    object-fit: cover;
}
.image1 {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 398px;
    height: 92px;
}
.textParent {
    position: absolute;
    top: calc(50% - 110px);
    left: calc(50% - 199px);
    width: 398px;
    height: 132px;
    text-align: center;
    font-size: 24px;
}
.profile1 {
    position: absolute;
    top: 121px;
    left: 1440px;
    width: 450px;
    height: 978px;
    font-size: 20px;
}
.groupChatChild {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(44px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 450px;
    height: 979px;
}
.cardChild {
    position: absolute;
    top: calc(50% - 38px);
    left: 0px;
    border-bottom: 1px solid #43435e;
    box-sizing: border-box;
    width: 430px;
    height: 77px;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #514dfb;
    width: 20px;
    height: 20px;
}
.b {
    position: absolute;
    top: 6px;
    left: 6px;
    line-height: 12px;
    text-transform: lowercase;
}
.ellipseParent {
    position: absolute;
    top: 15px;
    left: 31px;
    width: 20px;
    height: 20px;
    text-align: left;
}
.text2 {
    position: absolute;
    top: 0px;
    left: 307px;
    width: 51px;
    height: 35px;
}
.wowThatsCool {
    position: absolute;
    top: 24px;
    left: 0px;
    font-size: 16px;
    line-height: 26px;
}
.text3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 266px;
    height: 35px;
    text-align: left;
    font-size: 18px;
}
.texxt {
    position: absolute;
    top: 20px;
    left: 62px;
    width: 358px;
    height: 35px;
}
.icon {
    position: absolute;
    top: 18px;
    left: 10px;
    width: 40px;
    height: 40px;
}
.card {
    position: absolute;
    top: calc(50% - 337.5px);
    left: 0px;
    width: 430px;
    height: 76px;
}
.cardItem {
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #43435e;
    box-sizing: border-box;
    width: 430px;
    height: 77px;
}
.minsAgo {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 28px;
    text-transform: lowercase;
}
.ellipseGroup {
    position: absolute;
    top: 15px;
    left: 40px;
    width: 20px;
    height: 20px;
    text-align: left;
}
.text4 {
    position: absolute;
    top: 1px;
    left: 299px;
    width: 60px;
    height: 35px;
}
.catherine {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 28px;
}
.text5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 263px;
    height: 35px;
    text-align: left;
    font-size: 18px;
}
.texxt1 {
    position: absolute;
    top: 20px;
    left: 61px;
    width: 359px;
    height: 36px;
}
.cardInner {
    position: absolute;
    top: 18px;
    left: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.card1 {
    position: absolute;
    top: 219px;
    left: 0px;
    width: 430px;
    height: 76px;
}
.text6 {
    position: absolute;
    top: 2px;
    left: 294px;
    width: 65px;
    height: 8px;
}
.tomorrowIWill {
    position: absolute;
    top: 24px;
    left: 0px;
    font-size: 16px;
}
.text7 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 35px;
    text-align: left;
    font-size: 18px;
}
.texxt2 {
    position: absolute;
    top: 19px;
    left: 61px;
    width: 359px;
    height: 35px;
}
.ellipseIcon {
    position: absolute;
    top: 17px;
    left: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.card2 {
    position: absolute;
    top: 371px;
    left: 0px;
    width: 430px;
    height: 76px;
}
.text9 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 154px;
    height: 35px;
    text-align: left;
    font-size: 18px;
}
.card3 {
    position: absolute;
    top: 447px;
    left: 0px;
    width: 430px;
    height: 76px;
}
.text11 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 254px;
    height: 35px;
    text-align: left;
    font-size: 18px;
}
.card4 {
    position: absolute;
    top: 523px;
    left: 0px;
    width: 430px;
    height: 76px;
}
.text12 {
    position: absolute;
    top: 2px;
    left: 295px;
    width: 64px;
    height: 8px;
}
.text13 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 35px;
    text-align: left;
    font-size: 18px;
}
.card5 {
    position: absolute;
    top: 599px;
    left: 0px;
    width: 430px;
    height: 76px;
}
.text14 {
    position: absolute;
    top: 0px;
    left: 299px;
    width: 60px;
    height: 35px;
}
.text15 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 228px;
    height: 35px;
    text-align: left;
    font-size: 18px;
}
.texxt6 {
    position: absolute;
    top: 20px;
    left: 61px;
    width: 359px;
    height: 35px;
}
.card6 {
    position: absolute;
    top: 76px;
    left: 0px;
    width: 430px;
    height: 76px;
}
.text16 {
    position: absolute;
    top: 2px;
    left: 299px;
    width: 60px;
    height: 8px;
}
.text17 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 255px;
    height: 35px;
    text-align: left;
    font-size: 18px;
}
.card7 {
    position: absolute;
    top: 295px;
    left: 0px;
    width: 430px;
    height: 76px;
}
.cardChild12 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #43435e;
    box-sizing: border-box;
    width: 430px;
    height: 68px;
}
.ellipseDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #504dfb;
    width: 20px;
    height: 20px;
}
.text19 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 161px;
    height: 35px;
    text-align: left;
    font-size: 18px;
}
.texxt8 {
    position: absolute;
    top: 15px;
    left: 61px;
    width: 359px;
    height: 36px;
}
.cardChild13 {
    position: absolute;
    top: 13px;
    left: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.card8 {
    position: absolute;
    top: 152px;
    left: 0px;
    width: 430px;
    height: 67px;
}
.messages {
    position: absolute;
    top: calc(50% - 396.5px);
    left: 10px;
    width: 430px;
    height: 675px;
}
.tabsChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 410px;
    height: 52px;
}
.tabChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 7px;
    background-color: #fff;
    width: 190px;
    height: 32px;
}
.individual {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 35px);
}
.tab1 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 190px;
    height: 32px;
}
.tabItem {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 7px;
    width: 190px;
    height: 32px;
}
.group1 {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 24px);
}
.tab2 {
    position: absolute;
    top: 10px;
    left: 210px;
    width: 190px;
    height: 32px;
    color: #fff;
}
.tabs {
    position: absolute;
    top: 21px;
    left: 20px;
    width: 410px;
    height: 52px;
    text-align: center;
    font-size: 16px;
    color: #504dfb;
}
.groupChat {
    position: absolute;
    top: 121px;
    left: 330px;
    width: 450px;
    height: 979px;
    text-align: right;
    font-size: 12px;
}
.subscribersChatGroupChild {
    position: absolute;
    top: 3px;
    left: 0px;
    backdrop-filter: blur(44px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 600px;
    height: 978px;
}
.fieldChild {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(44px);
    border-radius: 25.52px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 510px;
    height: 50px;
    opacity: 0.5;
}
.fieldItem {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 478px;
    height: 30px;
}
.iconChild {
    position: absolute;
    top: 0px;
    left: 475px;
    border-radius: 50%;
    background-color: #514dfb;
    width: 40px;
    height: 40px;
}
.voiceRecordIcon {
    position: absolute;
    top: 5px;
    left: 480px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.div1 {
    position: absolute;
    top: 5px;
    left: 35px;
    font-weight: 600;
}
.recordingAudio {
    position: absolute;
    top: 5px;
    left: 91px;
    font-weight: 600;
}
.recordIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.parent {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 210px;
    height: 30px;
}
.icon1 {
    position: absolute;
    top: 5px;
    left: 45px;
    width: 515px;
    height: 40px;
}
.field {
    position: absolute;
    top: 901px;
    left: 20px;
    width: 560px;
    height: 50px;
}
.child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px 10px 0px 10px;
    background-color: #514dfb;
    width: 141px;
    height: 39px;
}
.helloTeresa {
    position: absolute;
    top: 10px;
    left: 32px;
}
.frameIcon2 {
    position: absolute;
    top: 4px;
    left: 48px;
    width: 16px;
    height: 8px;
    overflow: hidden;
}
.am {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.6;
}
.frameParent {
    position: absolute;
    top: 43px;
    left: 77px;
    width: 64px;
    height: 15px;
    text-align: left;
    font-size: 12px;
}
.div2 {
    position: absolute;
    top: 0px;
    left: 419px;
    width: 141px;
    height: 58px;
    text-align: right;
    font-size: 16px;
}
.item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px 10px 0px 10px;
    background-color: #514dfb;
    width: 141px;
    height: 36px;
}
.goodSeeYaa {
    position: absolute;
    top: 10px;
    left: 26px;
}
.frameGroup {
    position: absolute;
    top: 40px;
    left: 77px;
    width: 64px;
    height: 15px;
    font-size: 12px;
}
.div3 {
    position: absolute;
    top: 333px;
    left: 419px;
    width: 141px;
    height: 55px;
    font-size: 16px;
}
.inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px 10px 0px 10px;
    background-color: #514dfb;
    width: 252px;
    height: 51px;
}
.group7601Icon {
    position: absolute;
    height: 32.86%;
    width: 85.75%;
    top: 20%;
    right: 7.1%;
    bottom: 47.14%;
    left: 7.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.frameContainer {
    position: absolute;
    top: 55px;
    left: 188px;
    width: 64px;
    height: 15px;
}
.div4 {
    position: absolute;
    top: 524px;
    left: 308px;
    width: 252px;
    height: 70px;
}
.div5 {
    position: absolute;
    top: 704px;
    left: 308px;
    width: 252px;
    height: 70px;
}
.child2 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px 10px 0px 10px;
    background-color: #514dfb;
    width: 252px;
    height: 58px;
}
.imFineThank {
    position: absolute;
    top: 10px;
    left: 18px;
    display: inline-block;
    width: 219px;
}
.frameParent2 {
    position: absolute;
    top: 62px;
    left: 188px;
    width: 64px;
    height: 15px;
    text-align: left;
    font-size: 12px;
}
.div6 {
    position: absolute;
    top: 157px;
    left: 308px;
    width: 252px;
    height: 77px;
    text-align: right;
    font-size: 16px;
}
.groupChild1 {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(44px);
    border-radius: 10px 10px 10px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 243px;
    height: 40px;
}
.am5 {
    position: absolute;
    top: 44px;
    left: 0px;
    opacity: 0.6;
}
.helloSalmanHow {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 20px;
}
.chats {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 205px;
    height: 11px;
    font-size: 16px;
}
.rectangleParent {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 243px;
    height: 59px;
}
.avatarImage40 {
    position: absolute;
    top: 10px;
    left: 0px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: cover;
}
.div7 {
    position: absolute;
    top: 78px;
    left: 0px;
    width: 283px;
    height: 59px;
}
.chats1 {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 196px;
    height: 20px;
    font-size: 16px;
}
.div8 {
    position: absolute;
    top: 254px;
    left: 0px;
    width: 283px;
    height: 59px;
}
.groupChild3 {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(44px);
    border-radius: 10px 10px 10px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 243px;
    height: 51px;
}
.groupIcon {
    position: absolute;
    height: 32.86%;
    width: 88.93%;
    top: 20%;
    right: 5.72%;
    bottom: 47.14%;
    left: 5.35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.am7 {
    position: absolute;
    top: 55px;
    left: 0px;
    opacity: 0.6;
}
.rectangleContainer {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 243px;
    height: 70px;
}
.div9 {
    position: absolute;
    top: 614px;
    left: 0px;
    width: 283px;
    height: 70px;
}
.groupChild4 {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(44px);
    border-radius: 10px 10px 10px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 243px;
    height: 77px;
}
.am8 {
    position: absolute;
    top: 81px;
    left: 0px;
    opacity: 0.6;
}
.broIHave {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 20px;
    display: inline-block;
    width: 220px;
}
.chats2 {
    position: absolute;
    top: 9px;
    left: 11px;
    width: 220px;
    height: 60px;
    font-size: 16px;
}
.rectangleParent1 {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 243px;
    height: 96px;
}
.div10 {
    position: absolute;
    top: 408px;
    left: 0px;
    width: 283px;
    height: 96px;
}
.chat {
    position: absolute;
    top: 116px;
    left: 20px;
    width: 560px;
    height: 774px;
    font-size: 12px;
}
.subscribersChatGroupItem {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(44px);
    border-radius: 10px 10px 0px 0px;
    background-color: #504dfb;
    width: 600px;
    height: 80px;
}
.subscribersChatGroup1 {
    position: absolute;
    top: 14px;
    left: 50px;
}
.avatarImage401 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    object-fit: cover;
}
.groupName {
    position: absolute;
    top: 23px;
    left: 17px;
    width: 267px;
    height: 40px;
    font-size: 20px;
}
.subscribersChatGroup {
    position: absolute;
    top: 121px;
    left: 810px;
    width: 600px;
    height: 981px;
}
.directMessagesVoiceMessage {
    width: 100%;
    position: relative;
    background-color: #0c0c0c;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 1129px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: 'Proxima Nova';
}

